body {
    background: #f4f4f9;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#notesContainer {
    display: flex;
    flex-wrap: wrap;  
    gap: 10px; 
}

#newNoteBtn, #saveButton, #addBtn {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#newNoteBtn, #newDrawingBtn {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px auto;
}

#logoutBtn {
    display: none;
}


#noteText {
    width: 250px;
    min-height: 150px;
    background: #fffa63;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.addBtn {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.note {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.note-buttons {
    display: flex;
    gap: 5px;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 0;
    display: inline-block;
}

.square.yellow {
    background: #f9f871;
}

.square.green {
    background: #77dd77;
}

.square.pink {
    background: #ff77ff;
}

.note.yellow {
    background: #f9f871;
}

.note.green {
    background: #77dd77;
}

.note.pink {
    background: #ff77ff;
}

.remove-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.remove-btn:hover {
    color: red;
}

.note-content {
    height: 100px;
    width: 190px;
    white-space: pre-line;
    font-size: 20px;
    text-align: center;
}

#boardsDropdown {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: #4CAF50;       
    border: none;        
    border-radius: 5px;
    background-size: 16px;
    padding-right: 40px;
}

#createBoard {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
}

#newBoardName {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
}

#authContainer {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
}

#authContainer {
    width: 350px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}

#authContainer form {
    display: block;
    flex-direction: column;
}

#authContainer h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

#authContainer label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

#authContainer input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

#authContainer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

#authContainer button:hover {
    background-color: #45a049;
}
